@use 'abstracts' as *;

:host {
  display: block;
}

.book-details {
  padding: 1.5rem;
  border: 1px solid color('border');
  border-radius: size('radius-lg');
  background-color: color('card');
  // background-color: color-mix(in oklch, color('card') 90%, color('muted'));

  &__title {
    font-size: size('font-lg');
    font-weight: 600;
    color: color('foreground');
    margin-bottom: 1rem;
  }

  &__content {
    @include flex-layout($direction: column);
    gap: 1rem;
  }

  &__field {
    @include flex-layout($align: flex-start);
    gap: 0.5rem;

    &--full {
      flex-direction: column;
    }
  }

  &__value-container {
    @include flex-layout($align: center);
    gap: 0.5rem;
  }

  &__value-icon {
    width: 1.2rem;
    height: 1.2rem;
    color: color('accent');

    ::ng-deep svg {
      fill: color('accent');
    }
  }

  &__label {
    font-size: size('font-sm');
    font-weight: 600;
    color: color('muted-foreground');
    min-width: 6rem;
  }

  &__value {
    font-size: size('font-sm');
    color: color('foreground');
  }

  &__description {
    font-size: size('font-sm');
    color: color('foreground');
    line-height: 1.6;
  }
}
