@use 'abstracts' as *;

:host {
  display: block;
}

.book-details {
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border: 1px solid color('border');
  border-radius: size('radius-lg');
  background-color: color('card');

  @include mq('sm') {
    padding: 1.5rem;
  }

  &__title {
    font-size: size('font-lg');
    font-weight: 600;
    color: color('foreground');
    margin-bottom: 1rem;
  }

  &__content {
    @include flex-layout($direction: column);
    gap: 1rem;
  }

  &__field {
    @include flex-layout($align: flex-start);
    gap: 0.5rem;

    &--full {
      flex-direction: column;
    }
  }

  &__value-container {
    @include flex-layout($align: center);
    gap: 0.5rem;
  }

  &__value-icon {
    width: 1.2rem;
    height: 1.2rem;
    color: color('accent');

    ::ng-deep svg {
      fill: color('accent');
    }
  }

  &__label {
    font-size: size('font-sm');
    font-weight: 600;
    color: color('muted-foreground');
    min-width: 6rem;
  }

  &__value {
    font-size: size('font-sm');
    color: color('foreground');
  }

  &__description-container {
    width: 100%;
    @include flex-layout($align: center, $justify: space-between);
    gap: 0.5rem;
  }

  &__reading-time {
    @include flex-layout($align: center);
    gap: 0.4rem;
    background: color('muted');
    padding: 0.25rem 0.75rem;
    border-radius: size('radius-xl');
    border: 1px solid color('border');
  }

  &__reading-time-icon {
    @include flex-layout($justify: center, $align: center);
    width: 1.25rem;
    height: 1.25rem;
    color: color('muted-foreground');
  }

  &__reading-time-value {
    font-weight: 600;
    font-size: size('font-xs');
  }

  &__description {
    font-size: size('font-sm');
    color: color('foreground');
    line-height: 1.7;
    text-align: justify;
  }
}
