@use 'sass:map';
@use 'variables' as *;

@function color($name) {
  @if not map.has-key($colors, $name) {
    @error 'There is no such color: #{$name}. Check the spelling in _variables.scss';
  }
  @return map.get($colors, $name);
}

@function size($name) {
  @if not map.has-key($sizes, $name) {
    @error 'There is no such size: #{$name}. Check the spelling in _variables.scss';
  }
  @return map.get($sizes, $name);
}
