@use 'sass:map';
@use 'variables' as *;

@mixin flex-layout($justify: flex-start, $align: stretch, $wrap: nowrap, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $width: map.get($breakpoints, $size);
    @media (min-width: #{$width}) {
      @content;
    }
  } @else {
    @warn "There is no such breakpoint: #{$size}. Available: #{map.keys($breakpoints)}";
  }
}
