$colors: (
  'background': var(--background),
  'foreground': var(--foreground),
  'card': var(--card),
  'card-foreground': var(--card-foreground),
  'popover': var(--popover),
  'popover-foreground': var(--popover-foreground),
  'primary': var(--primary),
  'primary-foreground': var(--primary-foreground),
  'secondary': var(--secondary),
  'secondary-foreground': var(--secondary-foreground),
  'muted': var(--muted),
  'muted-foreground': var(--muted-foreground),
  'accent': var(--accent),
  'accent-foreground': var(--accent-foreground),
  'destructive': var(--destructive),
  'border': var(--border),
  'input': var(--input),
  'ring': var(--ring),
  'sidebar': var(--sidebar),
  'sidebar-foreground': var(--sidebar-foreground),
  'sidebar-primary': var(--sidebar-primary),
  'sidebar-primary-foreground': var(--sidebar-primary-foreground),
  'sidebar-accent': var(--sidebar-accent),
  'sidebar-accent-foreground': var(--sidebar-accent-foreground),
  'sidebar-border': var(--sidebar-border),
  'sidebar-ring': var(--sidebar-ring),
);

$sizes: (
  'radius-sm': calc(var(--radius) - 4px),
  'radius-md': calc(var(--radius) - 2px),
  'radius-lg': var(--radius),
  'radius-xl': calc(var(--radius) + 4px),
  'font-xs': 0.75rem,
  // 12px
  'font-sm': 0.875rem,
  // 14px
  'font-base': 1rem,
  // 16px
  'font-lg': 1.25rem,
  // 20px
  'font-xl': 1.5rem,
  // 24px
  'font-xxl': 2rem,
  // 32px
);

$breakpoints: (
  'sm': 40rem,
  // 640px
  'md': 48rem,
  // 768px
  'lg': 64rem,
  // 1024px
  'xl': 80rem,
  // 1280px
  '2xl': 96rem,
  // 1536px
);
