<header class="header">
  <div class="container header__container-outer">
    <div class="header__container-inner">
      <a routerLink="/" class="header__logo">
        <div class="header__logo-icon-container">
          <app-logo classname="header__logo-icon" />
        </div>
        <div>
          <span class="header__logo-text">Shel</span>
          <span class="header__logo-text header__logo-text--highlight">fy</span>
        </div>
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list">
          @for (route of routes(); track route.path) {
            <li class="header__nav-item">
              <a
                [routerLink]="route.path"
                routerLinkActive="header__nav-link--active"
                class="header__nav-link"
              >
                <lucide-angular name="{{ route.icon }}" class="header__nav-icon" />
                <span class="header__nav-text">{{ route.label }}</span>
              </a>
            </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
