@use 'abstracts' as *;

:host {
  display: block;
}

.book-card {
  @include flex-layout($direction: column);
  overflow: hidden;
  border-radius: size('radius-lg');
  border: 1px solid color('border');
  background-color: color('card');
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  width: 100%;
  height: 20rem;

  &:hover {
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-color: color-mix(in oklch, color('primary') 30%, transparent);
  }

  &__header {
    position: relative;
    @include flex-layout($justify: space-between, $align: center);
    padding: 0.75rem;
    border-bottom: 1px solid color('border');
  }

  &__badge {
    border-radius: size('radius-xl');
    padding: 0.25rem 0.75rem;
    font-size: size('font-xs');
    font-weight: 600;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: color('muted');
    color: color('muted-foreground');
  }

  &__favorite-indicator-icon {
    z-index: -1;
    top: -1.3rem;
    right: -1.3rem;
    position: absolute;
    width: 10rem;
    height: 10rem;
    color: color-mix(in oklch, color('accent') 50%, transparent);
    transform: rotate(10deg);
  }

  &__content {
    flex: 1;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
  }

  &__info {
    @include flex-layout($direction: column);
    gap: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__title {
    font-size: size('font-lg');
    font-weight: 600;
    color: color('card-foreground');
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__info-item {
    @include flex-layout($align: center);
    gap: 0.25rem;
  }

  &__info-icon {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    color: color('primary');
  }

  &__info-text {
    font-size: size('font-sm');
    color: color('muted-foreground');
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    font-size: size('font-sm');
    color: color('foreground');
    line-height: 1.5;
    overflow: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-block: 0.5rem;
    border-top: 1px solid color('border');
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 0.75rem;
    }
  }

  &__actions {
    @include flex-layout($justify: space-between, $align: center);
    gap: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid color('border');
  }

  &__icon-actions {
    @include flex-layout($align: center);
    gap: 0.3rem;
  }

  &__icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.375rem;
    @include flex-layout($justify: center, $align: center);
    border-radius: size('radius-sm');
    transition: all 0.2s ease;
    &:hover {
      background-color: color('muted');
      transform: scale(1.1);
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    transition:
      color 0.2s ease,
      fill 0.2s ease;
    color: color('muted-foreground');
    &--favorite {
      color: color('accent');

      ::ng-deep svg {
        fill: color('accent');
      }
    }
    &--edit {
      color: color('secondary-foreground');
    }
    &--delete {
      color: color('destructive');
    }
  }

  &__btn-details {
    border-radius: size('radius-lg');
    padding: 0.5rem 0.9rem;
    font-size: size('font-xs');
    font-weight: 500;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: color('primary');
    color: color('primary-foreground');

    &:hover {
      background-color: color-mix(in oklch, color('primary') 90%, transparent);
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      border-color: color-mix(in oklch, color('primary') 30%, transparent);
    }
  }
}
