@if (!vm().error) {
  <app-book-modal [loader]="vm().isLoading" loaderText="Loading book..." (close)="handleCancel()">
    @if (!vm().isLoading) {
      <form (submit)="handleSubmit($event)" class="book-form">
        <h3 class="book-form__title">{{ vm().data ? 'Edit Book' : 'Add New Book' }}</h3>

        <div class="book-form__field">
          <label for="title" class="book-form__label">Title *</label>
          <input
            id="title"
            type="text"
            [formField]="vm().bookForm.title"
            class="book-form__input"
            [class.book-form__input--error]="
              vm().bookForm.title().invalid() && vm().bookForm.title().touched()
            "
          />
          @if (vm().bookForm.title().invalid() && vm().bookForm.title().touched()) {
            @for (error of vm().bookForm.title().errors(); track error.kind) {
              <span class="book-form__error">
                {{ error.message }}
              </span>
            }
          }
        </div>

        <div class="book-form__field">
          <label for="author" class="book-form__label">Author *</label>
          <input
            id="author"
            type="text"
            [formField]="vm().bookForm.author"
            class="book-form__input"
            [class.book-form__input--error]="
              vm().bookForm.author().invalid() && vm().bookForm.author().touched()
            "
          />
          @if (vm().bookForm.author().invalid() && vm().bookForm.author().touched()) {
            @for (error of vm().bookForm.author().errors(); track error.kind) {
              <span class="book-form__error">
                {{ error.message }}
              </span>
            }
          }
        </div>

        <div class="book-form__field">
          <label for="year" class="book-form__label">Year *</label>
          <input
            id="year"
            type="number"
            [formField]="vm().bookForm.year"
            class="book-form__input"
            [class.book-form__input--error]="
              vm().bookForm.year().invalid() && vm().bookForm.year().touched()
            "
          />
          @if (vm().bookForm.year().invalid() && vm().bookForm.year().touched()) {
            @for (error of vm().bookForm.year().errors(); track error.kind) {
              <span class="book-form__error">
                {{ error.message }}
              </span>
            }
          }
        </div>

        <div class="book-form__field">
          <label for="genre" class="book-form__label">Genre *</label>
          <input
            id="genre"
            type="text"
            [formField]="vm().bookForm.genre"
            class="book-form__input"
            [class.book-form__input--error]="
              vm().bookForm.genre().invalid() && vm().bookForm.genre().touched()
            "
          />
          @if (vm().bookForm.genre().invalid() && vm().bookForm.genre().touched()) {
            @for (error of vm().bookForm.genre().errors(); track error.kind) {
              <span class="book-form__error">
                {{ error.message }}
              </span>
            }
          }
        </div>

        <div class="book-form__field">
          <label for="description" class="book-form__label">Description *</label>
          <textarea
            id="description"
            [formField]="vm().bookForm.description"
            rows="4"
            class="book-form__textarea"
            [class.book-form__textarea--error]="
              vm().bookForm.description().invalid() && vm().bookForm.description().touched()
            "
          ></textarea>
          @if (vm().bookForm.description().invalid() && vm().bookForm.description().touched()) {
            @for (error of vm().bookForm.description().errors(); track error.kind) {
              <span class="book-form__error">
                {{ error.message }}
              </span>
            }
          }
        </div>

        <div class="book-form__field">
          <Label class="book-form__checkbox-label">
            <input
              type="checkbox"
              [formField]="vm().bookForm.isFavorite"
              class="book-form__checkbox"
            />

            @if (vm().bookForm.isFavorite().value()) {
              <lucide-angular name="SquareCheck" class="book-form__checkbox-icon" />
            } @else {
              <lucide-angular name="Square" class="book-form__checkbox-icon" />
            }
            <span>Mark as favorite</span>
          </Label>
        </div>

        <div class="book-form__actions">
          <button
            type="submit"
            class="app-button app-button--primary"
            [disabled]="vm().bookForm().invalid() || vm().isSaving"
          >
            {{ vm().data ? 'Update' : 'Add' }} Book
          </button>
          <button type="button" class="app-button app-button--secondary" (click)="handleCancel()">
            Cancel
          </button>
        </div>
      </form>
    }
  </app-book-modal>
}
