@use 'abstracts' as *;

:host {
  display: block;
}

.book-form {
  @include flex-layout($direction: column);
  gap: 0.75rem;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border: 1px solid color('border');
  border-radius: size('radius-lg');
  background-color: color('card');

  @include mq('sm') {
    padding: 1.5rem;
  }

  &__title {
    font-size: size('font-lg');
    font-weight: 600;
    color: color('foreground');
    margin-bottom: 0.25rem;
  }

  &__field {
    @include flex-layout($direction: column);
    gap: 0.375rem;
  }

  &__label {
    font-size: size('font-sm');
    font-weight: 500;
    color: color('foreground');
  }

  &__input,
  &__textarea {
    padding: 0.375rem 0.5rem;
    border: 1px solid color('border');
    border-radius: size('radius-md');
    background-color: color('background');
    color: color('foreground');
    font-size: size('font-sm');
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-color: color('primary');
    }
    &--error {
      border-color: color('destructive');
    }
  }

  &__input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  &__textarea {
    resize: vertical;
    font-family: inherit;
    min-height: 3rem;
  }

  &__error {
    font-size: size('font-xs');
    color: color('destructive');
  }

  &__checkbox-label {
    @include flex-layout($align: center);
    gap: 0.5rem;
    font-size: size('font-sm');
    color: color('foreground');
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__checkbox-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: color('primary');
  }

  &__checkbox {
    display: none;
  }

  &__actions {
    margin-top: 1.25rem;
    @include flex-layout($justify: flex-end, $align: center);
    gap: 0.75rem;
    flex-wrap: wrap;
  }
}
