@use 'abstracts' as *;

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @include mq('sm') {
    padding-inline: 1.5rem;
  }

  @include mq('lg') {
    padding-inline: 2rem;
  }

  @each $size, $value in $breakpoints {
    @include mq($size) {
      max-width: $value;
    }
  }
}
