@use 'abstracts' as *;
@use 'sass:map';

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @each $name, $value in $breakpoints {
    @media (min-width: $value) {
      max-width: $value;
    }
  }
}
