@use 'abstracts' as *;

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @each $size, $value in $breakpoints {
    @include mq($size) {
      max-width: $value;
    }
  }
}
